<md-toolbar color="primary">
  <span>File Uploader</span>
</md-toolbar>
<md-card>
  <md-card-title> Add File </md-card-title>
  <md-card-content>
    <form>
      <md-form-field class="col-3">
        <input mdInput placeholder="File Name">
      </md-form-field>
      <md-form-field class="col-3">
        <input mdInput placeholder="File Type">
      </md-form-field>
      <input type="file" class="col-3">
      <button class="col-3" md-raised-button class="primary">Save</button>
    </form>
  </md-card-content>
  <md-card-footer> </md-card-footer>
</md-card>

<md-card>
  <md-card-title> Files List </md-card-title>
  <md-card-content>

    <div class="example-container mat-elevation-z8">
      <md-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container mdColumnDef="position">
          <md-header-cell *mdHeaderCellDef> No. </md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.position}} </md-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container mdColumnDef="name">
          <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.name}} </md-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container mdColumnDef="weight">
          <md-header-cell *mdHeaderCellDef> Weight </md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.weight}} </md-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container mdColumnDef="symbol">
          <md-header-cell *mdHeaderCellDef> Symbol </md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.symbol}} </md-cell>
        </ng-container>

        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>
    </div>


  </md-card-content>
</md-card>